<div class="row">
  <div class="col-sm-8 col-sm-offset-2">


    <%= bootstrap_form_for(@event) do |f| %>


      <%= f.text_field :title %>

      <%= f.text_area :description %>

      <%= f.datetime_field :start_date %>

      <%= f.datetime_field :end_date %>

      <%= f.text_field :venue %>

      <%= f.text_field :location %>

      <%= f.submit class: "btn btn-primary" %>
    <% end %>

    <p><%= link_to "Back", events_path %></p>

  </div>
</div>