<header>
  <h1>All Events</h1>

  <ul class="actions">
    <li><%= link_to "New Event", new_event_path, class: "new" %></li>
  </ul>
</header>

<div class="row">
  <div class="col-sm-3 pull-right">
    <div class="sidebar">
      <h3 class="discover">Discover</h3>
      <ul class="nav nav-pills nav-stacked">
        <li class="<%= "active" if current_page?("/events") %>"><%= link_to "ALL EVENTS", events_path %></li>
      </ul>
    </div>
  </div>


  <div class="col-sm-9">
    <h3>Discover and register to attend your favorite events right here</h3>
  </div>
  <% @events.each do |event| %>
    <div class="col-sm-9 pull-left">
      <%= link_to event_path(event) do %>
        <div class="events">
          <div class="row">
            <div class="col-sm-3">
              <%= image_tag "https://picsum.photos/200/100/?random" %>
            </div>
            <div class="col-sm-9">
              <h3 class="event-title"><%= event.title %></h3>
              <p><span class="event-venue"><%= event.venue %> - <strong><%= event.location %></strong></span></p>
              <p class="lead-time">
                <span class="event-start"><%= time_format(event.start_date) %></span>
                <span class="pull-right">Organized by:</span>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>