<h1>New Event</h1>

<% if @event.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@event.errors.count, "error") %>
    prohibited this event from being saved:</h2>

    <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>

  </div>
<% end %>

<%= form_with(model: @event, local: true) do |form| %>
  <div>
  <%= form.label :title %>
  <%= form.text_field :title %>
  </div>
  <div>
  <%= form.label :description %>
  <%= form.text_area :description %>
  </div>
  <div>
  <%= form.label :start_date %>
  <%= form.datetime_field :start_date %>
  </div>
  <div>
  <%= form.label :end_date %>
  <%= form.datetime_field :end_date %>
  </div>
  <div>
  <%= form.label :venue %>
  <%= form.text_field :venue %>
  </div>
  <div>
  <%= form.label :location %>
  <%= form.text_field :location %>
  </div>
  <%= form.submit %>
<% end %>
