<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "EventsBoard", root_path, class: "navbar-brand" %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="<%= "active" if current_page?("/") %>"><%= link_to "Home", root_path %></li>
        <li class="<%= "active" if current_page?("/events") %>"><%= link_to "Events", events_path %></li>
        <% admins_only do %>
          <li class="<%= "active" if current_page?("/admin")%>"><%= link_to "Admin", admin_root_url %></li>
        <% end %>
        <% unless user_signed_in? %>
          <li class="<%= "active" if current_page?("/users/sign_up") %>">
            <%= link_to "Sign up", new_user_registration_path
          %></li>
          <li class="<%= "active" if current_page?("/users/sign_ip") %>">
            <%= link_to "Sign in", new_user_session_path %></li>
        <% end %>
      </ul>
      <%= form_tag events_path, class: "navbar-form navbar-left", method: :get do %>
        <div class="form-group">
          <%= text_field_tag :query, params[:query], placeholder: "Search events here..", class: "form-control" %>
        </div>
        <%= submit_tag "Submit", class: "btn btn-default" %>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <%  if user_signed_in? %>
          <li class="<%= "active" if current_page?("/users/edit") %>">
            <%= link_to edit_user_registration_path do %>
              <%= image_tag avatar_url(current_user), width: 20, class: "img-circle" %> <%= current_user.username %>
              <% end %>
          </li>
          <li class="<%= "active" if current_page?("/users/#{current_user.id}")%>">
            <%= link_to "My Events", user_path(current_user) %></li>
          <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>